@code
{
    [Parameter] public string Class { get; set; } = "";
}

<footer class="bg-gray-900 text-white p-6 @Class">
    <div class="text-center">
        <p>© 2024 BANK_32. All rights reserved. | Our funds may or may not be real. If you find them, please return them to the nearest taco truck! | <a href="#" class="text-purple-400 hover:underline">Privacy Policy</a> | <a href="#" class="text-purple-400 hover:underline">Terms of Service</a></p>
    </div>
</footer>